<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="description" content="Responsive Admin Template" />
	<meta name="author" content="SmartUniversity" />
	<title>酒店预定</title>
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
	<link href="assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<!--bootstrap -->
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!-- <link href="assets/plugins/summernote/summernote.css" rel="stylesheet">-->
	<!-- data tables -->
	<link href="assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
	<!-- Material Design Lite CSS -->
	<link rel="stylesheet" href="assets/plugins/material/material.min.css">
	<link rel="stylesheet" href="assets/css/material_style.css">
	<!-- animation -->
	<link href="assets/css/pages/animate_page.css" rel="stylesheet">
	<!-- Template Styles -->
	<link href="assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/theme-color.css" rel="stylesheet" type="text/css" />
	<!-- favicon -->
	<link rel="shortcut icon" href="assets/img/favicon.ico" />

	<script src="../lib/vue.js"></script>
	<script src="../lib/axios.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<!-- END HEAD -->
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md page-full-width header-white dark-sidebar-color logo-dark" onload="connect()">
<div id="app">
	<div class="page-wrapper">
		<!-- start header -->
		<div class="page-header navbar navbar-fixed-top">
			<div th:replace="user::headers"></div>
			<div th:replace="user::navbar"></div>
		</div>
		<!-- end header -->
		<!-- start page container -->
		<div th:replace="user::container"></div>
		<!-- end sidebar menu -->
		<!-- start page content -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="page-bar">
					<div class="page-title-breadcrumb">
						<div class=" pull-left">
							<div class="page-title">Chat</div>
						</div>
						<ol class="breadcrumb page-breadcrumb pull-right">
							<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="user.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
							</li>
							<li class="active">Chat</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="card card-box">
							<div class="card-head">
								<header>Sanjay Singh</header>
								<div class="tools">
									<a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
									<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
									<a class="t-close btn-color fa fa-times" href="javascript:;"></a>
								</div>
							</div>
							<div class="card-body no-padding height-9" onKeyDown = "EnterPress()">
								<div class="row">
									<ul id="ul1" class="chat nice-chat chat-page small-slimscroll-style" style="height:300px;">
									</ul>
									<div class="box-footer chat-box-submit">

										<!--											<form action="#" method="post">-->
										<div class="input-group">
											<input id="message" type="text" name="message" placeholder="Enter Chat" class="form-control">
											<span class="input-group-btn">
												<button type="button" onclick="sendMessage()" id="sendbutton"
														class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-warning">
													Send
													<i class="fa fa-paper-plane-o"></i>
												</button>
												</span>
										</div>
										<!--											</form>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end page content -->
		<!-- start chat sidebar -->
		<div th:replace="user::chatSideBar"></div>
		<!-- end chat sidebar -->
	</div>
	<!-- end page container -->
	<!-- start footer -->
	<div th:replace="user::footer"></div>
</div>
<!-- end footer -->
<!-- start js include path -->
<script src="assets/plugins/jquery/jquery.min.js" ></script>
<script src="assets/plugins/popper/popper.min.js" ></script>
<script src="assets/plugins/jquery-blockui/jquery.blockui.min.js" ></script>
<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="https://cdn.staticfile.org/sockjs-client/1.3.0/sockjs.js"></script>
<script src="https://cdn.staticfile.org/stomp.js/2.3.3/stomp.min.js"></script>
<!-- bootstrap -->
<script src="assets/plugins/bootstrap/js/bootstrap.min.js" ></script>
<!-- Common js-->
<script src="assets/js/app.js" ></script>
<script src="assets/js/layout.js" ></script>
<script src="assets/js/theme-color.js" ></script>
<!-- data tables -->
<script src="assets/plugins/datatables/jquery.dataTables.min.js" ></script>
<script src="assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js" ></script>
<script src="assets/js/pages/table/table_data.js" ></script>
<!-- Material -->
<script src="assets/plugins/material/material.min.js"></script>
<!-- animation -->
<script src="assets/js/pages/ui/animations.js" ></script>
</body>
<style>
	.img-responsive{
		width:400px;
		height:200px;
	}
</style>
<script>
	Vue.filter('cancel', function (value) {
		var res=""
		if(value===1){
			res="可取消"
			return res;
		}
		if(value===0){
			res="不可取消"
			return res;
		}

	})
	Vue.filter('breakfast', function (value) {
		var res=""
		console.log(value)
		if(value===1){
			res="有"
			return res;
		}
		if(value===0){
			res="无"
			return res;
		}
	})

	var vm=new Vue({
		el:"#app",
		data:{
			user:{},
			roomList:[]
		},
		methods:{
			queryUser(){
				var url="/user/queryByPhone"
				axios.post(url).then(res=>{
					if(res.data.state==0){
						console.log("结束")
						this.user=res.data.user
					}
				})
			},
			queryAll(){
				var url="/roomType/queryAll"
				axios.post(url).then(res=>{
					console.log(res.data)
					if(res.data.state==0){
						this.roomList=res.data.roomList
					}
				})
			}

		},
		created(){
			this.queryAll()
		},
		mounted(){
			this.queryUser()
		}
	})
</script>
<script type="text/javascript">

	var stompClient = null;
	var account = "2222222220";
	// function setConnected(connected){
	//     document.getElementById("connect").disabled = connected;
	//     document.getElementById("disconnect").disabled = !connected;
	//     $("#response").html();
	// }
	function connect() {
		var socket = new SockJS("/queueServer");
		//var account=[[${session.account1}]];
		stompClient = Stomp.over(socket);
		stompClient.connect({}, function(frame) {
			//setConnected(true);
			console.log('Connected: ' + frame);
			stompClient.subscribe('/user/'+account+'/message', function(response){
				var ul = document.getElementById('ul1');
				var li = document.createElement('li');
				var img = document.createElement('img');
				img.src="assets/img/dp.jpg";
				img.className="avatar";
				li.className="in";
				li.appendChild(img);

				var div = document.createElement('div');
				div.className="message";

				var span1 = document.createElement('span');
				span1.className="arrow";
				div.appendChild(span1);

				var a=document.createElement('a');
				a.className="name";
				a.href="#";
				a.innerText=account+"  ";
				div.appendChild(a);

				var span2=document.createElement('span');
				span2.className="datetime";
				var date = new Date();
				var time=date.toLocaleString();
				span2.innerText=time;
				div.appendChild(span2);

				var span3=document.createElement('span');
				span3.className="body";
				span3.innerText=response.body;
				div.appendChild(span3);

				li.appendChild(div);
				ul.appendChild(li);

			});
		});
	}

	function disconnect() {
		if (stompClient != null) {
			stompClient.disconnect();
		}
		setConnected(false);
		console.log("Disconnected");
	}

	function sendMessage() {
		if (document.getElementById('message').value=="") {
			return false;
		}
		//var response2 = document.getElementById('response2');
		var ul = document.getElementById('ul1');
		var li = document.createElement('li');
		var img = document.createElement('img');
		img.src="assets/img/dp.jpg";
		img.className="avatar";
		li.className="out";
		li.appendChild(img);

		var div = document.createElement('div');
		div.className="message";

		var span1 = document.createElement('span');
		span1.className="arrow";
		div.appendChild(span1);

		var a=document.createElement('a');
		a.className="name";
		a.href="#";
		a.innerText=[[${session.account1}]]+"   ";
		div.appendChild(a);

		var span2=document.createElement('span');
		span2.className="datetime";
		var date = new Date();
		var time=date.toLocaleString();
		//span2.innerText="at Mar 12, 2014 6:13";
		span2.innerText=time;
		div.appendChild(span2);

		var span3=document.createElement('span');
		span3.className="body";
		span3.innerText=document.getElementById('message').value;
		div.appendChild(span3);

		li.appendChild(div);
		ul.appendChild(li);

		console.info(1111111111);
		//var id="lisi";
		var id=[[${session.account1}]];
		var content = document.getElementById('message').value;
		console.info(content);
		stompClient.send("/queue", {}, JSON.stringify({ 'id':id ,'content': content}));

		document.getElementById('message').value="";
	}
</script>

<script type="text/javascript">
	function EnterPress(){
		if(13==event.keyCode)
		{
			var button=document.getElementById("sendbutton");
			button.click();
		}
	}

</script>
</html>